div {
	border-radius: 5px;
}

*{
	font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.button {
	background-color:#88BBD6;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

html {
  background-color:#E9E9E9;
}

body {
	margin: 0;
}

ul{
	display:inline-block;
	list-style-type: none;
	padding: 0;
	position:relative;
	text-align:center;
}

li{
	display:inline;
	padding:1vw;
	margin-right:auto;
	font-size: 30px;
	color:#7D7D7D;
	text-decoration:none;
}

@media only screen and (max-width: 1001px) {
	li {
		font-size: 25px;
	}
}

@media only screen and (max-width: 700px) {
	li {
		font-size: 20px;
	}
}

li:link {
	color:#7D7D7D;
}

li:visited {
	color:#FFFFFF;
}

li:hover {
	color:#FFFFFF;
	text-decoration:none;
	cursor: pointer;
}

.header {
	position:fixed;
	display:inline-block;
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	height: 135px;
	background-color: #CDCDCD;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	margin-bottom: 10px;
	z-index: 3;
}

@media only screen and (max-width: 1001px) {
	.header {
		position: absolute;
		height: 120px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.header {
		position: absolute;
		height: 105px;
		font-size: 15px;
	}
}

.navbar {
	position:absolute;
	vertical-align:center;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
	width:100%;
	top:25%;
	animation: slideIn 1s forwards;
}

@keyframes slideIn {
	0% {
		transform: translateX(-50%);
	}
	100% {
		transform: translateX(0);
	}
}

.dialog {
	width: 50%;
	overflow:auto;
	background-color:#CDCDCD;
	border:1px solid #CDCDCD;
	position: relative;
	top: 300px;
	margin-bottom: 200px;
	left: 25%;
	text-align:center;
	font-size:20px;
}

@media only screen and (max-width: 1001px) {
	.dialog {
		width: 60%;
		top: 250px;
		left: 20%;
		margin-bottom: 150px;
	}
}

@media only screen and (max-width: 700px) {
	.dialog {
		width: 90%;
		top: 200px;
		left: 5%;
		margin-bottom: 100px;
	}
}

.dialog:hover {
	border:1px solid #000000;
}

.dialog-text {
	width: 75%;
	margin: 0 auto;
	display:inline-block;
	right:12.5%;
	overflow:auto;
	text-align:center;
	font-size:20px;
}

.portfolio-section {
	margin-top: 20px;
	padding-bottom: 10px;
	border: 1px solid #000000;
}

.portfolio-section:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 42px;
	background: rgba(255,255,255,0.3);
	border-radius: 5px;
	transition: all 2s ease;
}

.footer {
	position:relative;
	overflow:auto;
	background-color: #233237;
	border: 1px solid #233237;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	clear: both;
	font-weight:bold;
	font-size:25px;
	text-align: center;
	color: #CD5C5C;
}

@media only screen and (max-width: 1001px) {
	.footer {
		font-size: 20px
	}
}

@media only screen and (max-width: 700px) {
	.footer {
		font-size: 15px;
	}
}

.linkind
{
	color:#7D7D7D;
	font-size: 1.8vw;
	margin-right:auto;
	padding:1vw;
	display:inline;
}

.linkind:visited {
	color:#7D7D7D;
}

.linkind:hover {
	color:#FFFFFF;
}

.bounce-image:hover {
	animation: bounce 1s;
}

@media only screen and (max-width: 700px) {
	.bounce-image:hover {
		animation: none;
	}
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}



.curtain {
	height: 100%;
	width: 100%;
	position: absolute;
}

.curtain__panel {
	border-radius: 0;
	height: 100%;
	float: left;
	z-index: 2;
	position: relative;
	background: #233237;
}

.curtain__panel--left {
	-webkit-animation: widthShrink 2s ease forwards;
	animation: widthShrink 2s ease forwards;
	width: 50%;
}
.curtain__panel--right {
	-webkit-animation: widthShrink 2s ease forwards;
	animation: widthShrink 2s ease forwards;
	float: right;
	width: 50%;
}

@keyframes widthShrink {
	from { width: 50%; }
	to { width: 0%; }
}

@-webkit-keyframes widthShrink {
	from { width: 50%; }
	to { width: 0%; }
}
