div {
	border-radius: 5px;
}

*{
	font-family: "Whitney SSm A", "Whitney SSm B", "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
}

.button {
	background-color:#88BBD6;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.modal {
	background-color:#88BBD6;
	position:fixed;
	z-index:2;
	left: 25%;
	top:100px;
	width: 50%;
	height: 75%;
	overflow: auto;
}

.modal-content {
	background-color: #E9E9E9;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration:none;
	cursor: pointer;
}

html {
  background-color:#E9E9E9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2;

}

body {
	margin: 0;
}

.hover_img a {position:relative; width: 10vw; height: 10vh; right: 10.5vw; top: 1.5vh;}
.hover_img a span {position:absolute; display:none; z-index:99;}
.hover_img a:hover span {display:block;}

#header {
	z-index:1;
	position:absolute;
	display:inline-block;
	width: 100%;
	margin:0 auto;
	border-radius:0;
	height: 135px;
	background-color: #CDCDCD;
	margin-bottom: 10px;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
	opacity: 0.9;
	margin-top:1px;
	filter: alpha(opacity=70);
}

#navbar {
	position:absolute;
	vertical-align:center;
	text-align: center;
	display:inline-block;
	margin: 0 auto;
	width:100%;
	top:25%;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2;
}

#dialog {
	width: 90%;
	overflow:auto;
	background-color:#CDCDCD;
	border:1px solid #CDCDCD;
	position: absolute;
	top: 200px;
	left:5%;
	margin-bottom: 100px;
	text-align:center;
	margin:0 auto;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2;
}

#dialog:hover {
	border:1px solid #000000;
}

#dialog-text {
	width: 75%;
	margin: 0 auto;
	display:inline-block;
	right:12.5%;
	overflow:auto;
	text-align:center;
	font-size:20px;
}

#bitbucket-link {
	color:CD5C5C;
	background-color:black;
	width:20vw;
	height:15vw;
	top:40vh;
	display:inline;
}

#footer {
	position:relative;
	overflow:auto;
	background-color: #233237;
	border: 1px solid #233237;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	clear: both;
	font-weight:bold;
	font-size:15px;
	text-align: center;
	color: #CD5C5C;
}

.linkind
{
	color:#7D7D7D;
	font-size: 1.8vw;
	margin-right:auto;
	padding:1vw;
	display:inline;
}

.linkind:visited {
	color:#7D7D7D;
}

.linkind:hover {
	color:#FFFFFF;
}

.portfolio-section {
	margin-top: 10px;
	padding-bottom: 10px;
	border:1px solid #000000;
}

ul{
	display:inline-block;
	list-style-type: none;
	padding: 0;
	position:relative;
	text-align:center;
}

li{
	display:inline;
	padding:1vw;
	margin-right:auto;
	font-size: 15px;
	color:#7D7D7D;
	text-decoration:none;
}


li:link {
	color:#7D7D7D;
}

li:visited {
	color:#FFFFFF;
}

li:hover {
	color:#FFFFFF;
	text-decoration:none;
	cursor: pointer;
}
