div {
	border-radius: 5px;
}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hover_img a {position:relative; width: 10vw; height: 10vh; right: 10.5vw; top: 1.5vh;}
.hover_img a span {position:absolute; display:none; z-index:99;}
.hover_img a:hover span {display:block;}

#header {
		/*z-index: 1;*/
		position: absolute;
		width: 98.5%;
		height: 16.7vh;
		background-color: #800000;
		margin-bottom: 10px;
		text-align:center;
		opacity: 0.9;
	filter: alpha(opacity=70);
}

#navbar {
		position:absolute;
		width: 100vw;
		margin-top: 9vh;
		left:25vw;
		/*font-family: 'Josefin Sans', serif;*/
		
}

#dialog {
	width: 40vw;
	height: 50vw;
	background-color: #FF350A;
	position: absolute;
	top: 25vh;
	left: 29vw;
	text-align:center;
	opacity: 0.7;
}

#bitbucket-link {
	color:CD5C5C;
	/*position: absolute;*/
	background-color:black;
	width:20vw;
	height:15vw;
	top:40vh;
	/*right:30.3vw;*/
	display:inline;
	/*text-align:center;*/
}

#footer {
	width: 99vw;
	height: 30vh;
	background-color: #800000;
	clear: both;
	font-family: "Josefin Sans", serif;
	font-weight:bold;
	font-size:1.5vw;
	text-align: center;
	color: #CD5C5C;
}

ul{
	list-style-type: none;
	position:absolute;
}

li{
	display:inline;
	padding:1.5vw;
	font-family: "Josefin Sans", Palatino, serif;
	font-size: 1.8vw;
	color: #CD5C5C;
	text-decoration:none;
}


li:link {
	color: #CD5C5C;
}

li:visited {
	color: #CD5C5C;
}

li:hover {
	color: #FFA07A;
	text-decoration:none;
	cursor: pointer;
}