div {
	border-radius: 5px;
}

#header {
		z-index: 1;
		position: absolute;
		width: 100vw;
		height: 16.7vh;
		background-color: #800000;
		margin-bottom: 10px;
		text-align:center;
		opacity: 0.9;
	filter: alpha(opacity=70);
}

#navbar {
		position:absolute;
		width: 100vw;
		margin-top: 9vh;
		left:25vw;
		/*font-family: 'Josefin Sans', serif;*/
		
}

#dialog {
	width: 40vw;
	height: 30vw;
	background-color: #FF5733;
	position: absolute;
	top: 25vh;
	left: 29vw;
	text-align:center;
	opacity: 0.7;
}

#footer {
	width: 98vw;
	height: 25vh;
	background-color: #800000;
	clear: both;
	font-family: "Josefin Sans", serif;
	font-weight:bold;
	font-size:1.5vw;
	text-align: center;
	color: #CD5C5C;
}

ul{
		list-style-type: none;
		position:absolute;
}

li{
		display:inline;
		padding:1.5vw;
		font-family: "Josefin Sans", Palatino, serif;
		font-size: 1.8vw;
		color: #CD5C5C;
}


li:link {
	color: #CD5C5C;
}

li:visited {
	color: green;
}

li:hover {
	color: #FFA07A;
	cursor: pointer;
}